<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | TKJ Smart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body class="login-body">
    <div class="finisher-header" id="full-bg"></div>

    <div class="login-wrapper">
        <div class="login-image">
			
            <div class="image-overlay">
                <h3>TKJ Smart</h3>
                <p>Membangun masa depan digital dari sekolah.</p>
            </div>
        </div>

        <div class="login-form-side">
            <div class="form-content">
				<div class="logo-container" style="margin: 0 auto; margin-bottom:20px;">
					<div class="logo-icon">
						<img src="{{ url_for('static', filename='photos/logo.PNG') }}" alt="logo">
					</div>

					<div class="logo-text">
						<h1>
							<span class="tkj">TKJ</span>
							<span class="smart">Smart</span>
						</h1>
						<p class="subtitle">Teknik Komputer Dan Jaringan Pintar</p>
					</div>
				</div>
                <h2>Selamat Datang</h2>
                <p>Silakan login dengan akun dari sekolah</p>
                
                {% if error %}
                <p class="error-msg">{{ error }}</p>
                {% endif %}

                <form action="/login" method="POST">
                    <div class="input-group">
                        <label>Username</label>
                        <input type="text" name="username" placeholder="NISN atau Nama" required>
                    </div>
                    <div class="input-group">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="********" required>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
					  {% if messages %}
						{% for category, message in messages %}
						  <div style="color: white; background-color: #e74c3c; padding: 10px; margin-bottom: 15px; border-radius: 5px; text-align: center;">
							{{ message }}
						  </div>
						{% endfor %}
					  {% endif %}
					{% endwith %}
                    <button type="submit" class="btn-login">Masuk Sekarang</button>
                </form>
                
                <a href="/" class="back-home">← Kembali ke Beranda</a>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='finisher-header.es5.min.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        // Inisialisasi animasi
        new FinisherHeader({
          "count": 4,
          "size": { "min": 1300, "max": 1500, "pulse": 0.1 },
          "speed": { "x": { "min": 0.3, "max": 0.5 }, "y": { "min": 0, "max": 0.2 } },
          "colors": {
            "background": "#51d7ff",
            "particles": ["#6384ff", "#56cdff", "#4875ff", "#7779ff"]
          },
          "blending": "lighten",
          "opacity": { "center": 0.8, "edge": 0.2 },
          "skew": 0,
          "shapes": ["c", "t"]
        });
    </script>
</body>
</html>
